[submodule "external/kmeans_pytorch"]
	path = external/kmeans_pytorch
	url = git@github.com:subhadarship/kmeans_pytorch.git

[submodule "bop_toolkit"]
	path = bop_toolkit
	url = https://github.com/thodan/bop_toolkit.git 
[submodule "sd-dino"]
	path = sd-dino
	url = https://github.com/Junyi42/sd-dino
[submodule "detectron2"]
	path = detectron2
	url = https://github.com/facebookresearch/detectron2.git
