[submodule "external/kmeans_pytorch"]
	path = external/kmeans_pytorch
	url = git@github.com:subhadarship/kmeans_pytorch.git

[submodule "bop_toolkit"]
	path = bop_toolkit
	url = https://github.com/thodan/bop_toolkit.git 

[submodule "zs6d_sd_dino/sd_dino"]
	path = zs6d_sd_dino/sd_dino
	url = https://github.com/Junyi42/sd-dino.git
